<form #myForm="ngForm" (ngSubmit)="myForm.valid && onSubmit()">
  <div *ngIf="myForm.invalid && myForm.submitted">
    <span>formulaire non valide</span>
  </div>

  <fieldset>
    <label for="title">title</label>
    <input
      type="text"
      name="title"
      id="title"
      #title="ngModel"
      [(ngModel)]="newArticle.title"
      required
      minlength="5"
    />
  </fieldset>
  <div *ngIf="myForm.submitted && title.errors">
    <span *ngIf="title.errors['required']">le titre est requis</span>
    <span *ngIf="title.errors['minlength']"
      >le titre contenir 5 caractères minimum</span
    >
  </div>

  <fieldset>
    <label for="quantity">quantity</label>
    <input
      type="nombre"
      name="quantity"
      id="quantity"
      #quantity="ngModel"
      [(ngModel)]="newArticle.quantity"
      required
    />
  </fieldset>
  <div *ngIf="myForm.submitted && quantity.errors">
    <span *ngIf="quantity.errors['required']">la quantité est requise</span>
  </div>

  <fieldset>
    <label for="date">date</label>
    <input
      type="date"
      name="date"
      id="date"
      #date="ngModel"
      [(ngModel)]="newArticle.date"
      required
    />
  </fieldset>
  <div *ngIf="myForm.submitted && date.errors">
    <span *ngIf="date.errors['required']">une date est requise</span>
  </div>

  <fieldset>
    <label for="email">contact</label>
    <input
      type="email"
      name="email"
      id="email"
      #email="ngModel"
      [(ngModel)]="newArticle.email"
      required
      email
    />
  </fieldset>
  <div *ngIf="myForm.submitted && email.errors">
    <span *ngIf="email.errors['required']">l'email est requis</span>
    <span *ngIf="email.errors['email']">un email est requis</span>
  </div>

  <button type="reset">reset</button>
  <button type="submit">save</button>
</form>
<app-article-list [articleList]="articleList"></app-article-list>
